toolchains/apple/third-party/prelude/** linguist-vendored
toolchains/haskell/lib/pkgs/*.toml linguist-generated

third-party/rust/BUCK linguist-generated
tools/installer/third-party/BUCK linguist-generated
